@font-face {
  font-family: "cera_probold";
  src: url("../fonts/cera_pro_bold-webfont.eot");
  src: url("../fonts/cera_pro_bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_bold-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_bold-webfont.woff") format("woff"),
    url("../fonts/cera_pro_bold-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_bold-webfont.svg#cera_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_promedium";
  src: url("../fonts/cera_pro_medium-webfont.eot");
  src: url("../fonts/cera_pro_medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_medium-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_medium-webfont.woff") format("woff"),
    url("../fonts/cera_pro_medium-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_medium-webfont.svg#cera_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_proregular";
  src: url("../fonts/cera_pro_regular-webfont.eot");
  src: url("../fonts/cera_pro_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_regular-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_regular-webfont.woff") format("woff"),
    url("../fonts/cera_pro_regular-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_regular-webfont.svg#cera_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-main {
  max-width: 500px;
  border: solid 1px silver;
  margin: auto;
  padding: 52px 100px 50px;
  box-sizing: border-box;
  border-bottom: solid 10px #46a358;
  position: relative;
}
.container-main .close-bottom {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../images/close-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 16px;
  top: 16px;
}
.form-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  color: #3d3d3d;
  margin-bottom: 40px;
  font-family: "cera_promedium";
}
.register {
  color: #46a358;
}

.form-decription {
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 14px;
  font-family: "cera_proregular";
}
.input {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 12px 14px;
  margin-bottom: 16px;
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #a5a5a5;
}
.register-button {
  background-color: #46a358;
  text-align: center;
  margin-bottom: 36px;
  border-radius: 5px;
  width: 300px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border: none;
  box-sizing: border-box;
  font-family: "cera_probold";
}
.form-text {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 36px;
  position: relative;
  font-family: "cera_proregular";
}
.form-text::before,
.form-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 32%;
  height: 1px;
  background: #eaeaea;
}

.form-text::before {
  left: 0;
}

.form-text::after {
  right: 0;
}
.social-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  text-align: center;
  color: #727272;
  padding: 10px 0;
  text-decoration: none;
  margin-bottom: 16px;
  font-family: "cera_promedium";
}
.container-header {
  border-bottom: 0.5px solid gray;
}

/* index.html */
header {
  padding-top: 30px;
  margin-bottom: 12px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .login1 {
  margin-bottom: 11px;
}
header nav ul {
  display: flex;
  gap: 50px;
}
header nav ul li ul {
  gap: 0;
  display: block;
}
header nav ul li.dropdown {
  position: relative;
}
header nav ul li ul.submenu li {
  background-color: #edf6ee;
  padding: 7px 14px;
}
header nav ul li ul.submenu li:hover {
  background-color: #1a712a;
}
header nav ul li ul.submenu li:hover a {
  color: #f5f5f5;
  font-family: "cera_probold";
}
header nav ul li ul.submenu li a {
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  font-family: "cera_proregular";
}
header nav ul li ul.submenu li a:last-of-type {
  position: relative;
}
header nav ul li ul.submenu {
  min-width: 188px;
  position: absolute;
  top: 58px;
  left: -55px;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
}
header nav ul li.dropdown:hover .submenu {
  height: 230px;
}
header nav ul li ul.submenu li:last-child a::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-left: 8px;
  background-image: url(../images/header-arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 150px;
  top: 7px;
}
header nav ul li.dropdown .submenu li:last-of-type:hover .submenu-2 {
}

.login1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 6px;
  width: 100px;
  height: 35px;
  background: #46a358;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-family: "cera_proregular";
}

.text {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  line-height: 30px;
}

ul {
  list-style: none;
}
.banner {
  margin-bottom: 26px;
}
.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-color {
  color: #46a358;
  text-transform: uppercase;
  font-family: "cera_probold";
}
.shop {
  border-radius: 6px;
  width: 140px;
  height: 40px;
  background: #46a358;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  align-items: center;
  text-decoration: none;
  padding: 10px 15px;
  font-family: "cera_promedium";
}
a {
  text-decoration: none;
}
.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  color: #3d3d3d;
  font-family: "cera_probold";
}

/*
.container-main-img {
  background-image: url("../images/plants.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
*/
.container-banner {
  background-color: #f5f5f5;
  padding: 0px 43px !important;
}

.banner div div {
  width: 50%;
}
.banner div div div {
  width: 50%;
}
.container-title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.title-content {
  color: #727272;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 44px;
}

.custom-hover:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #46a358;
  margin-top: 22px;
  transition: 0.4s;
  align-items: end;
}

.custom-hover:hover::after {
  width: 100%;
}
.custom-hover {
  padding-bottom: 19px;
  color: #3d3d3d;
  font-family: "cera_proregular";
}

.custom-hover:hover {
  font-family: "cera_probold";
}

p.container {
  font-family: "cera_proregular";
}

.left-box {
  max-width: 310px;
  background-color: #f5f5f5;
}

.container-shop {
  justify-content: space-between;
  display: flex;
}

.right-box {
  max-width: 840px;
}
.right-side-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
}
.right-side-main {
  display: flex;
  flex-wrap: wrap;
  gap: 70px 33px;
  justify-content: space-between;
  margin-bottom: 90px;
}

.left-box h3 {
  margin-bottom: 30px;
  margin-top: 14px;
  margin-left: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  font-family: "cera_probold";
}
.left-box li {
  margin-bottom: 28px;
  margin-left: 25px;
  color: black;
  font-family: "cera_proregular";
}

.right-side-main > .plant > a {
  display: inline-block;
  background-color: #f5f5f5;
}
.plant {
  max-width: 258px;
  position: relative;
  overflow: hidden;
}

.left-box ul {
  margin-bottom: 377px;
}

.right-side-header ul {
  display: flex;
  gap: 37px;
}

.right-side-header p {
  font-family: "cera_proregular";
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-side-main span {
  display: block;
  font-family: "cera_proregular";
  line-height: 100%;
  color: #3d3d3d;
  margin-bottom: 6px;
}

.green-text {
  color: #3d3d3d;
  font-family: "cera_proregular";
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  display: inline-block;
}

.green-text:hover {
  color: #46a358;
  font-family: "cera_probold";
}

.green-underline {
  color: #3d3d3d;
  font-family: "cera_proregular";
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  display: inline-block;
}
.green-underline:hover {
  color: #46a358;
  font-family: "cera_probold";
  border-bottom: 2px solid #46a358;
}

.right-side-main .plant span {
  font-family: "cera_proregular";
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #3d3d3d;
  margin-bottom: 6px;
}
.right-side-main .plant span:nth-of-type(2) {
  font-family: "cera_probold";
  color: #46a358;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  margin-bottom: 0;
  display: inline;
  margin-right: 16px;
}

.right-side-main .plant span span {
  display: inline-flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 89%;
  color: #a5a5a5;
  margin-left: 16px;
  text-decoration: line-through;
}

.right-side-end {
  display: flex;
  justify-content: flex-end;
}
.right-side-end a:hover {
  background: #46a358;
  font-family: "cera_probold";
  color: #fff;
}
.right-side-end ul {
  display: flex;
  gap: 10px;
}
.right-side-end ul li:last-of-type a::after {
  display: block;
  content: "";
  background-image: url(../images/arrow-right.svg);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.right-side-end ul li:last-of-type a:hover:after {
  background-image: url(../images/arrow-right_hover.svg);
}

.right-side-end a {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  background: #fff;
  color: #3d3d3d;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "cera_proregular";
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
}
.plant a {
  margin-bottom: 12px;
  height: 300px;
}
.right-side-main .plant div {
  position: absolute;
  left: 0;
  top: 14px;
  width: 80px;
  height: 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  background-color: #46a358;
  font-family: "cera_promedium";
  display: flex;
  justify-content: center;
  align-items: center;
}

.plant ul {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 26px;
  bottom: -30px;
  left: 0;
  transition: 0.5s;
}
.plant:hover ul {
  bottom: 65px;
}
/*/
.plant ul li a:first-of-type:hover {
  display: block;
  content: "";
  background-image: url(../images/shopping.svg);
  background-repeat: no-repeat;
}
/*/

.section-shop {
  margin-bottom: 146px;
}

.section-promo {
  margin-bottom: 138px;
}

.container-promo {
  justify-content: space-between;
  display: flex;
}
.left-promo {
  background-color: #f5f5f5;
  max-width: 586px;
  display: flex;
  position: relative;
}
.right-promo {
  background-color: #f5f5f5;
  max-width: 586px;
  display: flex;
  position: relative;
}
.find-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 6px;
  width: 140px;
  height: 40px;
  background: #46a358;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  text-decoration: none;
  font-family: "cera_proregular";
  margin-left: 416px;
}
.container-promo h3 {
  font-family: "cera_probold";
  color: #3d3d3d;
  font-weight: 900;
  font-size: 18px;
  line-height: 133%;
  text-align: right;
  margin-bottom: 9px;
}
.container-promo p {
  color: #727272;
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: right;
  margin-bottom: 25px;
  margin-left: 264px;
}
.promo-text {
  padding-top: 37px;
  padding-right: 35px;
  padding-bottom: 46px;
}
.plant_img {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.blog_text {
}

.blog_text h5 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 53%;
  text-align: center;
  color: #3d3d3d;
  font-family: "cera_probold";
}
.blog_text p {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #727272;
  font-family: "cera_proregular";
}
.blog_posts {
  display: flex;
  justify-content: space-between;
  gap: 43px;
}
.blog_post {
  background-color: #f5f5f5;
  width: 268px;
}
.blog_info {
  padding-right: 11px;
  padding-left: 15px;
  padding-bottom: 12px;
  padding-top: 8px;
}
.blog_info a span {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #46a358;
  font-family: "cera_promedium";
  margin-bottom: 4px;
}
.blog_info h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #3d3d3d;
  font-family: "cera_probold";
  margin-bottom: 4px;
}
.blog_info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
  font-family: "cera_proregular";
  margin-bottom: 9px;
}
.blog_info a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #3d3d3d;
  font-family: "cera_promedium";
}
.blog_info a:hover {
  color: #46a358;
}

.blog_info .arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../images/arrow-right-blog.svg");
  background-repeat: no-repeat;
}

.blog_info a:hover .arrow {
  background-image: url("../images/arrow-right-blog-green.svg");
}
